<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="<%= content.description %>">
        <title><%= content.title %></title>
        <script src="js/app.min.js"></script>
    </head>
    <body>